<!-- here is where you can place a navigation bar -->

<!-- nav bar -->
<mat-toolbar color="primary" class="app-header">
    <span class="nav-tool-items">
      <!-- <a mat-button routerLink="login" routerLinkActive="active">Log in</a> -->
      <a mat-button routerLink="home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="subscribe" routerLinkActive="active">Subscribe Form</a>
      <a mat-button routerLink="subscriber/1" routerLinkActive="active">Subscriber Example</a>
    </span>
  </mat-toolbar>
<!-- end nav bar -->

<!-- app content -->
<router-outlet></router-outlet>
<!-- end app content -->