<div class="homepage-desc">
    This is the example of the Wordpress Plugin Boilerplate with Angular
  
    <button mat-stroked-button color="accent" class="btn-block" onclick="window.location.href = 'https://bitbucket.org/klworkman27/wp-plugin-with-angular/src/master/';">Git Repo</button>
</div>