.homepage-desc{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10%;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;

    .btn-block{
        width:100%;
        margin-top: 50px;
    }
}