<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
        <mat-card-title>Subscribe to the<br />Colors Newsletter</mat-card-title>
        </mat-card-header>

        <form #registerForm="ngForm" class="example-form" (ngSubmit)="register(registerForm)">

        <mat-card-content>
            <mat-form-field class="example-full-width">
            <input ngModel required matInput name="name" placeholder="Your Name">
            </mat-form-field>
            <div *ngIf="submitted &amp;&amp; registerForm.controls.name.errors" class="text-danger">
                <div *ngIf="registerForm.controls.name.errors.required">Your name is required</div>
            </div>

            <mat-form-field class="example-full-width">
            <input ngModel required email matInput name="email" type="email" placeholder="Email">
            </mat-form-field>
            <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
                <div *ngIf="registerForm.controls.email.errors.required">Your email is required</div>
                <div *ngIf="registerForm.controls.email.errors.email">Your email must be a valid email address</div>
            </div>

            <mat-form-field class="example-full-width">
            <mat-label>Your Favorite Color</mat-label>
            <mat-select ngModel [(value)]="selected" name="color">
                <mat-option [value]="colors" *ngFor="let colors of Colors">{{colors}}
                </mat-option>
            </mat-select>
            </mat-form-field>

        </mat-card-content>

        <button mat-stroked-button color="accent" class="btn-block" type="submit" >Subscribe</button>
        <div>{{ this.message }}</div>

        </form>
    </mat-card>
</div>
<!-- <pre>Invalid? {{ this.registerForm.invalid }}</pre> -->