<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
          </mat-card-header>
      
          <form #loginForm="ngForm" class="example-form" (ngSubmit)="login(loginForm)">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input ngModel matInput name="username" placeholder="Username">
              </mat-form-field>
      
              <mat-form-field class="example-full-width">
                <input ngModel matInput name="password" placeholder="Password">
              </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
          </form>
        </mat-card>
      
      </div>