<div class="sub-wrapper">
    <div class="sub-header">
        Subscriber Details
    </div>
    <div class="sub-info">
        <span class="sub-info-label">id: </span>{{this.subscriber?.id}}
    </div>
    <div class="sub-info">
        <span class="sub-info-label">name: </span>{{this.subscriber?.name}}
    </div>
    <div class="sub-info">
        <span class="sub-info-label">email: </span>{{this.subscriber?.email}}
    </div>
    <div class="sub-info">
        <span class="sub-info-label">selected color: </span>{{this.subscriber?.color}}
    </div>
</div>
