.sub-wrapper {
    width: 300px;
    display: block;
    margin: 10% auto;
    padding: 10px;
    border: solid 1px #3f51b5;
    border-radius: 5px;
    text-align: left;

    .sub-header {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 5px 10px 10px;
        border-bottom: solid 1px;
    }

    .sub-info {
        color: #3f51b5;
        padding: 10px;

        .sub-info-label{
            color: black;
            text-transform: uppercase;
        }
    }
}